html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% auto;
  grid-template-rows: 7% auto;
  grid-template-areas:  "sidebar header"
              "sidebar content"
              "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  background: #303030;
  position: fixed;
  width: 15vw;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  grid-area: header;
  background: #303030;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  grid-area: content;
  background: #202020;
}

.mobilenavbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobilenavbar ul a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px 16px;
}

.mobilenavbar ul a:hover {
  background: #303030;
  color: white;
  padding: 8px 20px;
  transition: all 0.25s;
}

.mobilenavbar ul h1 {
  color: #303030;
  font-weight: 200;
  margin: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px 16px;
  padding: 7%;
}

ul a:hover {
  background: #007acc;
  color: white;
  transition: all 0.25s;
}

ul h1 {
  color: white;
  font-weight: 200;
  margin: 10px;
}

li i {
  font-size: 17px;
  margin-right: 5%;
}

.mobileicon {
  visibility: hidden;
  padding: 8px 16px;
  color: white;
}

.headericon {
  padding: 8px 16px;
  color: white;
  float: right;
}

.navbar {
  display: none;
  background: #303030;
  padding: 5px;
}

.navactive {
  display: block;
  z-index: 2;
}

.active {
  background: #1aa3ff;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex {
  background: #303030;
  color: white;
  width: 100%;
  margin: 10px;
  padding: 1.5%;
}

.flex-console {
  background: rgba(142, 140, 140, 0.26);
  width: 100%;
  margin-top: 10px;
  height: 200px;
  box-sizing: border-box;
  overflow: auto;
  text-align: justify;
  border: 2px solid rgba(65, 65, 65, 0.73);
}

.flex-icon {
  float: right;
  color: white;
  border: 10px solid #007acc;
  border-radius: 30px;
  background: #007acc;
}

i:hover {
  color: #1aa3ff;
  transition: all 0.3s;
}

.count {
  font-size: 25px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #1aa3ff;
}

a:hover {
  color: #007acc;
  transition: all 0.3s;
}

input, textarea {
  width: 100%;
  color: white;
  margin-bottom: 5px;
  padding: 15px;
  background: #202020;
  border: 2px solid #202020;
  outline: none;
  color: white;
  box-sizing: border-box;
  resize: none;
}

input:hover, textarea:hover {
  transition: all 0.3s;
  border: 2px solid #007acc;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: #007acc;
  border: 2px solid #007acc;
  color: white;
}

button:hover {
  transition: all 0.3s;
  background: #005c99;
  border: 2px solid #005c99;
  color: #FFFFFF;
}

select {
  width: 100%;
  color: white;
  margin-bottom: 5px;
  padding: 15px;
  background: #202020;
  border: 2px solid #202020;
  outline: none;
  color: white;
}

th:nth-child(even) {
  padding: 15px;
  color: white;
  background: #181818;
}

th:nth-child(odd) {
  padding: 15px;
  color: white;
  background: #181818;
}

td {
  padding: 15px;
  background: #202020;
  text-align: center;
}

.sidebox {
  width: 45%;
}

ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

ol li {
  float: left;
  margin: 2%;
  padding: 0.4%;
}

ol li a {
  color: white;
}

.active-page {
  background: #007acc;
  padding: 0.4%;
  border-radius: 2px;
}

.disabled {
  color: grey;
}

.disabled:hover {
  color: grey;
}

@media (max-width: 1180px) {
  h1 {
    font-size: 23px;
  }

  th:nth-child(even) {
    padding: 10px;
    color: white;
    background: #181818;
  }

  th:nth-child(odd) {
    padding: 10px;
    color: white;
    background: #181818;
  }

  td {
    padding: 10px;
    background: #202020;
  }

  .flex-button {
    margin-top: 2%;
    margin-bottom: 4%;
  }
}
@media (max-width: 900px) {
  /* Handys */
  h1 {
    font-size: 20px;
  }
  
  .flex-icon {
    font-size: 10px;
  }
  
  .mobileicon {
    visibility: visible;
  }
  
  .sidebar {
    display: none;
  }
  
  .container {
    grid-template-areas:  "header header"
                "content content"
                "content content";
  }
  
  .flex {
    width: 90%;
  }
  
  .flex-button {
    margin-top: 5%;
    margin-bottom: 8%;
  }
  
  .flex-container {
    flex-direction: column;
  }
  
  .flex-icon {
    visibility: hidden;
  }
  
  th:nth-child(even) {
    padding: 5px;
    color: white;
    background: #181818;
  }
  
  th:nth-child(odd) {
    padding: 5px;
    color: white;
    background: #181818;
  }
  
  td {
    padding: 5px;
    background: #202020;
  }
}
